body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

span {
    color: yellowgreen;
}

section {
    display: flex;
    margin-top: 20px;
}

.half-width {
    width: 50%;
    padding: 20px;
    margin-right: 40px;
    margin-left: 40px;

}

.half-width img {
    width: 70%;
    padding: 20px;
    margin-left: 40px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 15px 50px;
    color: black;
    font-weight: 800;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.mid-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}